body {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/*ログイン画面*/
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  outline: 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border: 2px solid #bbb;
}

#login {
  display: none;
}
/*#login*/

/*ChatPage*/
#comment-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}
/*ChatPage*/

